@model Reciplease.Models.CartContent
@{
	ViewBag.Title = "Shopping Cart";
}
<h2>@ViewBag.Title</h2>
<div class="info"><p>Please note: At this time, the Shopping Cart only supports 1 recipe at a time.</p></div>
@*@if ( @Model.user.KrogerAuthCode != null )
{
	<p>@Model.user.KrogerAuthCode</p>
	<p>@Model.user.KrogerAuthTokens.refresh_token</p>
}*@

<link rel="stylesheet" href="Reciplease/Reciplease/Views/Profile/Profile.css" />
<script>

	function showAlert() {
		alert("@Model.jsMessage \nPlease review all items in your cart to ensure proper selection.");
		newwindow = window.open("https://www.kroger.com/cart", '_blank');
		if (window.focus) {
			newwindow.focus()
		}
		window.location.href = "@Model.jsUrl";
		return false;
	}
		

	function redirect() {
		alert("Successfully sent to Kroger!\nPlease review all items in your cart to ensure proper selection.");
		newwindow = window.open("https://www.kroger.com/cart", '_blank');
		if (window.focus) {
			newwindow.focus()
		}
		window.location.href = "@Model.jsUrl";
		return false;
	};

</script>

@if ( !Model.user.IsAuthenticated )
{
	@Html.Partial( "NotAuthenticated" )
}
else
{

	if ( Model.cart.IsEmpty( ) == false )
	{
		if ( Model.jsMessage != "" )
		{
			<script>showAlert();</script>
		}
		else if ( Model.jsUrl != "" )
		{
			<script>redirect();</script>
		}


		using ( @Html.BeginForm( "CreateRecipe", "Profile", FormMethod.Post ) )
		{
			<div id="content" class="p-4 p-md-5 pt-5">
				<div class="recipe-card">
					<p>
						<h3> Ingredients for @Model.cart.list.RecipeName</h3>
						<h4> Serves : @Model.cart.list.RecipeServings </h4>

						<table>
							<tr>
								<th>Ingredient:</th>
								<th>Amount:</th>
							</tr>
							@foreach ( Reciplease.Models.Ingredient ingredient in Model.cart.GetFractionizedIngredients( ) )
							{
								<tr>
									<td>
										@ingredient.name
									</td>
									<td>
										@ingredient.amount
										@ingredient.unit
									</td>
								</tr>
							}
						</table>
					</p>
					<br />
					<a href="@Url.Action( "KrogerSignin", "Cart" )" class="button"> Send To Kroger </a>
				</div>
			</div>

			<a class="button-red" id="delete" onclick="ClearCartContents()" href="~/Cart">Clear Cart</a>

		}
	}
	else
	{
		if ( Model.jsMessage != "" )
		{
			<script>showAlert();</script>
		}
		else if ( Model.jsUrl != "" )
		{
			<script>redirect();</script>
		}

		<p>You don't have a recipe added to the cart yet. Want to <a href="~/Home/Search">search</a> for one?</p>
	}
}

<script>
    function ClearCartContents() {
        let deleteConf = confirm("Are you sure you want to delete your shopping list?");

		if (deleteConf) {

			var ajaxData = { //json structure
				UID: @Model.user.UID
			};

            $.ajax({
				type: "GET",
				url: '@Url.Action( "ClearCartContents", "Cart")',
				data: ajaxData,
				async: true,
				success: function (msg) {
					alert("Shopping Cart Deleted")

				},
				error: function () {
					alert("Error deleting shopping cart. Please contact developers.")
				}
			});
        }


    }
</script>

