@model Reciplease.Models.CartContent
@{
	ViewBag.Title = "Shopping Cart";
}
<h2>@ViewBag.Title</h2>

<link rel="stylesheet" href="Reciplease/Reciplease/Views/Profile/Profile.css" />

@if ( !Model.user.IsAuthenticated )
{
	@Html.Partial( "NotAuthenticated" )
}
else
{
	if ( Model.cart.IsEmpty( ) == false )
	{
		using ( @Html.BeginForm( "CreateRecipe", "Profile", FormMethod.Post ) )
		{
			<div id="content" class="p-4 p-md-5 pt-5">
				<div class="recipe-card">
					<p>
						@if ( @Model.user.KrogerAuthCode != null )
						{
							try
							{
							<p>auth:  @Model.user.KrogerAuthCode</p>
							<p>Access:  @Model.user.KrogerAuthTokens.access_token.ToString( )</p>
						}
						catch
						{
							<p>sommtin happened here</p>
						}
					}
						<table>
							<tr>
								<th>Ingredient:</th>
								<th>Amount:</th>
							</tr>
							@foreach ( Reciplease.Models.Ingredient ingredient in Model.cart.GetFractionizedIngredients( ) )
							{
								<tr>
									<td>
										@ingredient.name
									</td>
									<td>
										@ingredient.amount
										@ingredient.unit
									</td>
								</tr>
							}
						</table>
						</p>
						<br />
						<a href="@Url.Action( "KrogerSignin", "Cart" )" class="button"> Check out </a>
					</div>
			</div>
		}
	}
	else
	{
		<p>You don't have a recipe added to the cart yet. Want to <a href="~/Home/Search">search</a> for one?</p>
	}
}
