<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Reciplease</title>
	@Styles.Render( "~/Content/css" )
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	@Scripts.Render( "~/bundles/modernizr" )
	@Scripts.Render( "~/bundles/jquery" )
	@Scripts.Render( "~/Scripts/bootstrap.bundle.js" )
</head>
<body>

	<div class="topnav" id="myTopnav">

		<a href="javascript:void(0);" class="icon" onclick="myFunction()">
			<i class="fa fa-bars"></i>
		</a>
		<a href="~/Home/Index"><span class="fa fa-home mr-3"></span> Homepage</a>

		<div id="myLinks">
			<a href="~/Home/Search"><span class="fa fa-search mr-3"></span>  Search</a>

			@if ( Session["CurrentUser"] != null )
			{
				<a href="~/Profile/UserRecipes"><span class="fa fa-user mr-3"></span>  My Recipes</a>
				<a href="~/Profile/Favorites"><span class="fa fa-paper-plane-o mr-3"></span>  Favorites</a>
				<a href="~/Profile/LastTen"><span class="fa fa-paper-plane-o mr-3"></span>  Last 10 Recipes</a>
				<a href="~/Cart/index"><span class="fa fa-shopping-cart mr-3"></span>  My Cart</a>
				<a href="~/Profile/index"><span class="fa fa-user mr-3"></span>  My Account</a>
				<a href="~/Profile/SignOut"><span class="fa fa-user mr-3"></span>  Sign-Out</a>
			}
			else
			{
				<a href="~/Profile/SignUp"><span class="fa fa-user mr-3"></span>  Sign-Up</a>
				<a href="~/Profile/SignIn"><span class="fa fa-user mr-3"></span>  Sign-In</a>
			}
		</div>
	</div>
	<div class="container body-content">

		@RenderBody( )

		<hr />
		<footer>

			<a href="~/Home/About" style="margin: 3px;"><span class="fa fa-user mr-3"></span>  About</a>
			<a href="~/Home/Contact" style="margin: 3px;"><span class="fa fa-user mr-3"></span>  Contact</a>
			<hr />
			<p>&copy; @DateTime.Now.Year - Reciplease</p>

		</footer>
	</div>
	<script type="application/javascript">
		/* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
		function myFunction() {
			var x = document.getElementById("myLinks");
			var y = document.getElementsByTagName("body")[0];
			if (x.style.display === "block") {
				x.style.display = "none";
				y.style.paddingTop = "110px";
			} else {
				x.style.display = "block";
				y.style.paddingTop = "500px";
			}
		}

	</script>
</body>
@Scripts.Render( "~/bundles/js" )
</html>
