@model Reciplease.Models.UserRecipeContent
@{
	ViewBag.Title = "Edit Recipe";
}
<h2>@ViewBag.Title</h2>

<link rel="stylesheet" href="Reciplease/Reciplease/Views/Profile/Profile.css">

@using (Html.BeginForm("Edit", "Account"))
	{
		@Html.EditorFor(model => Model.SingleRecipe.title)
		
		@Html.EditorFor(model => Model.SingleRecipe.readyInMinutes)
		
		@Html.EditorFor(model => Model.SingleRecipe.servings)
		
		@*@Html.EditorFor(model => Model.SingleRecipe.SplitInstructions( ))*@
		
		@Html.EditorFor(model => Model.SingleRecipe.cuisines)
		
		@Html.EditorFor(model => Model.SingleRecipe.diets)
		
		@Html.EditorFor(model => Model.SingleRecipe.dishTypes)
		
		@*@Html.EditorFor(model => Model.SingleRecipe.GetFractionizedIngredients( ))*@
		
		
		<input type="submit" value="Save"/>
	}
