@model Reciplease.Models.UserRecipeContent
@{
	ViewBag.Title = "Edit Recipe";
}
<h2>@ViewBag.Title</h2>

<link rel="stylesheet" href="Reciplease/Reciplease/Views/Profile/Profile.css">

@using ( Html.BeginForm( "EditRecipe", "Profile" ) )
{
	<div id="content" class="p-4 p-md-5 pt-5">
		<div class="recipe-card">
			<input type="text" name="RecipeID" value=@Model.SingleRecipe.id hidden />
			<p>
				<label for="RecipeName">*Recipe Title</label>
				<input type="text" name="RecipeName" value=@Model.SingleRecipe.title required />
			</p>

			<p>
				<label for="readyInMinutes">*Ready In Minutes:</label>
				<input type="number" name="readyInMinutes" value=@Model.SingleRecipe.readyInMinutes required />
			</p>

			<p>
				<label for="servings">*Servings:</label>
				<input type="number" name="servings" value=@Model.SingleRecipe.servings required />
			</p>

			<p>
				<label for="diets">Diet</label>
				<input type="text" name="diets" value=@String.Join( ", ", @Model.SingleRecipe.diets) />
			</p>

			<p>
				<label for="dishTypes">*Dish Types</label>
				<input type="text" name="dishTypes" value=@String.Join( ", ", @Model.SingleRecipe.dishTypes) required />
			</p>

			<p>
				<label for="cuisines">Cuisines</label>
				<input type="text" name="cuisines" value=@String.Join( ", ", @Model.SingleRecipe.cuisines ) />
			</p>

			<script>
				$('form').on('click', '.addRow', function() {
				    var start = $('table'),
				    newRow = $('<tr><td><input type="text" name="ingredient" /></td><td><input type="text" name="number" />
				    <td><input type="text" name="measurements" /></td><td><p class="addRow">Add a Row</p></td></tr>');
				    $(start).append(newRow);
				});

			      })(); 

			    });
				var start = $('table'),
				newRow = $('<tr><td><input type="text" name="ingredient" /></td><td><input type="text" name="number" />
				<td><input type="text" name="measurements" /></td><td><p name="addRow">Add a Row</p></td></tr>');

			</script>

			<p>
				<label for="instructions">*Instructions</label>
				<textArea name="instructions" rows="10" cols="50" required>@Model.SingleRecipe.instructions</textArea>
			</p>
			<br>

			<input type="Submit" class="button" id="btnSubmit" name="btnSubmit" />
		</div>
	</div>

	<input type="submit" value="Save" />
}
