@model Reciplease.Models.LastTenContent

@{
	ViewBag.Title = "Last Ten Recipes";
}
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
	body {
		font-family: 'Montserrat';
	}
</style>
@*Iterate over recipes to display them*@
@if ( @Model.user.IsAuthenticated == true )
{
	if ( Model.lstLastTen.Count > 0 )
	{
		foreach ( Reciplease.Models.Recipe recipe in Model.lstLastTen )
		{
			<div class="row">
				<div class="recipe-card">

					<aside>
						<a href="@Url.Action( "Recipe", "Home", new { id = recipe.id } )" class="button">
							<span class="icon icon-play">
								<img src=@recipe.image alt=@recipe.title ; />
							</span>
						</a>
					</aside>

					<article>
						<h2>@recipe.title</h2>
						<p>Ready In: @recipe.readyInMinutes minutes</p>
						<p>Servings: @recipe.servings</p>
						<p>Difficulty Average: @recipe.dictRatings["AverageDifficulty"]</p>
						<p>Difficulty Count: @recipe.dictRatings["DifficultyCount"]</p>
						<p>Taste Average: @recipe.dictRatings["AverageTaste"]</p>
						<p>Taste Count: @recipe.dictRatings["TasteCount"]</p>


					</article>

				</div>
			</div>
		}
	}
	else
	{
		<p>You haven't added any recipes to your cart yet. Want to <a class="button" href="~/Home/Search">search</a> one?</p>
	}
}
else
{
	@Html.Partial( "NotAuthenticated" )
}


