@model Reciplease.Models.User
@{
	ViewBag.Title = "Sign-In";
}
<h2>@ViewBag.Title</h2>
<p>Enter your information and click the Sign-In button.</p>



@using (Html.BeginForm(FormMethod.Post)) {
	if (Model.ActionType == Reciplease.Models.User.ActionTypes.LoginFailed) {
		<div id="content-locked">
			<i class=" fad fa-exclamation-triangle fa-2x"></i>
			<span>Invalid UserID. Please try again.</span>
		</div>
	}
	if (Model.ActionType == Reciplease.Models.User.ActionTypes.RequiredFieldsMissing) {
		<div id="content-locked">
			<i class=" fad fa-exclamation-triangle fa-2x"></i>
			<span>All fields are required.</span>
		</div>
	}
	<div class="section">
		<div class="item">
			<div>@Html.LabelFor(model => model.UserID)</div>
			<div>@Html.TextBoxFor(model => model.UserID, new { @autofocus = "autofocus" })</div>
		</div>
	</div>


	@* Required Field add message for required *@
	<div class="item">
		<div>@Html.LabelFor(model => model.Password)</div>
		<div>@Html.TextBoxFor(model => model.Password, new { type = "Password" })</div>
	</div>

	<div>
		<button id="btnSignIn" name="btnSubmit" value="signin" class="button-action"><i class="fas fa-sign-in-alt"></i> Sign-In</button>
	</div>
}
<script>
	$(document).ready(function () {
		SetActiveMenus('signin');
	});
</script>