@model Reciplease.Models.UserRecipeContent

@{
	ViewBag.Title = "User Recipe";
}
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
	body {
		font-family: 'Montserrat';
	}
</style>
<h2>@ViewBag.Title</h2>

@*<head> already on layout page
		<title>Reciplease</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>*@


<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
	<div class="recipe-card">
		<link rel="stylesheet" href="css/style2.css">
		<link rel="stylesheet" href="css/style2.css">

		<!--maybe use js to call this? -->
		@if ( Model.user.IsAuthenticated )
		{
			<a href="@Url.Action( "EditRecipe", "Profile", new { id = Model.SingleRecipe.id } )" class="button">Edit Recipe</a>
			<a id="delete" class="button-red" onclick="deleteMe()" href="@Url.Action( "DeleteRecipe", "Profile", new { id = Model.SingleRecipe.id } )">Delete Recipe</a>
		}
		<!---Display Recipe--->
		<article>



			<h2>@Model.SingleRecipe.title</h2>
			<p>Ready in : @Model.SingleRecipe.readyInMinutes minutes</p>
			<p>Servings : @Model.SingleRecipe.servings </p>

			<p>Cuisines: @String.Join( ", ", @Model.SingleRecipe.cuisines )</p>
			<p>Diets: @String.Join( ", ", @Model.SingleRecipe.diets )</p>
			<p>Dish Types: @String.Join( ", ", @Model.SingleRecipe.dishTypes )</p>
			<table>
				<tr><th>Ingredient:</th><th>Amount:</th></tr>
				@foreach ( Reciplease.Models.Ingredient ingredient in Model.SingleRecipe.GetFractionizedIngredients( ) )
				{
					<tr><td>@ingredient.name	</td><td>@ingredient.amount @ingredient.unit</td></tr>
				}
			</table>
			<p>Instructions:</p>
			<ol>
				@foreach ( String instruction in @Model.SingleRecipe.SplitInstructions( ) )
				{
					<li>@instruction</li>
				}
			</ol>
		</article>
					       <a href="@Url.Action("AddToCart", "Cart", new { id = Model.SingleRecipe.id })" class="button">
                       				Add to shopping cart </a>
		</article>
		<!---End Display Recipe--->


	</div>
</div>



<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

<script>
	$(document).ready(function () {
		SetActiveMenus('profile', 'index');
	});

	function deleteMe() {
		let deleteConf = confirm("Are you sure you want to delete @Model.SingleRecipe.title?");

		if (deleteConf) {
			$.ajax({
        type: "GET",
        url: '@Url.Action( "DeleteRecipe", "Profile", new { id = Model.SingleRecipe.id } )',
		async: true,
        success: function () {
			alert("Recipe Deleted")

        },
        error: function () {
            alert("Error deleting recipe. Please contact developers.")
        }
    });
		}


	}
</script>
