@model Reciplease.Models.UserRecipeContent

@{
	ViewBag.Title = "User Recipe List";
}

@*Iterate over recipes to display them*@
@if ( @Model.user.IsAuthenticated == true )
{
	foreach ( Reciplease.Models.Recipe recipe in Model.lstUserRecipes )
	{
		<div class="row">
			<div class="recipe-card">
					

				<article>
					<a href="@Url.Action("UserSingleRecipe", "Profile", new { id = recipe.id })" class="btn-dark">
						@recipe.title
					</a>
					<p>Ready In: @recipe.readyInMinutes minutes</p>
					<p>Servings: @recipe.servings</p>
					<p>Difficulty Average: @recipe.dictRatings["AverageDifficulty"]</p>
					<p>Difficulty Count: @recipe.dictRatings["DifficultyCount"]</p>
					<p>Taste Average: @recipe.dictRatings["AverageTaste"]</p>
					<p>Taste Count: @recipe.dictRatings["TasteCount"]</p>


				</article>

			</div>
		</div>
	}
}
else{
	@Html.Partial( "NotAuthenticated" )
}


