@model Reciplease.Models.HomeContent

@{
	ViewBag.Title = "Recipe";
}
<h2>@ViewBag.Title</h2>

<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
	<div class="recipe-card">

		<!--maybe use js to call this? -->
		@if ( Model.user.IsAuthenticated )
		{
			if ( Model.user.IsAFavorite( Model.SingleRecipe.id ) )
			{
				<input type="button" class="button" id="togglefavorite" onclick="toggle()" value="UnFavorite" />
			}
			else
			{
				<input type="button" class="button" id="togglefavorite" onclick="toggle()" value="Favorite" />
			}
		}
		<!---Display Recipe--->
		<article>
					   
			<h2>@Model.SingleRecipe.title</h2>
			<img src=@Model.SingleRecipe.image alt=@Model.SingleRecipe.title />
			<p>Ready in : @Model.SingleRecipe.readyInMinutes minutes</p>
			<p>Servings : @Model.SingleRecipe.servings </p>

			<p>Cuisines: @String.Join( ", ", @Model.SingleRecipe.cuisines )</p>
			<p>Diets: @String.Join( ", ", @Model.SingleRecipe.diets )</p>
			<p>Dish Types: @String.Join( ", ", @Model.SingleRecipe.dishTypes )</p>
			<table>
				<tr><th>Ingredient:</th><th>Amount:</th></tr>
				@foreach ( Reciplease.Models.Ingredient ingredient in Model.SingleRecipe.GetFractionizedIngredients( ) )
				{
					<tr><td>@ingredient.name	</td><td>@ingredient.amount @ingredient.unit</td></tr>
				}
			</table>
			<hr />
			<h3>Instructions:</h3>
			<ol>
				@foreach ( String instruction in @Model.SingleRecipe.SplitInstructions( ) )
				{
					<li>@instruction</li>
				}
			</ol>


			<div id="nutritionDiv" style="display:none">
				@try
				{

					var nutritionTable = "<table><tr><th>Nutrient:</th><th>Amount:</th><th>Percent of Daily Value</th></tr>";
					foreach ( Reciplease.Models.Nutrient nutrient in Model.SingleRecipe.nutrition.nutrients )
					{
						nutritionTable += "<tr><td>" + @nutrient.Name + "</td><td>" + @nutrient.Amount + " " + @nutrient.Unit + "</td><td>" + @nutrient.PercentOfDailyNeeds + "%</td></tr>";
					}
					nutritionTable += "</table>";

					WriteLiteral( nutritionTable );
				}
				catch ( Exception e )
				{
					<p> No Nutrition Data Available </p>
				}
			</div>
			<button class="button" id="btnNutrition" onclick="showNutrition()">Show Nutrition</button>

		</article>


		<!---Add to cart button--->
		@if ( Model.user.IsAuthenticated )
		{
			<a href="@Url.Action( "AddToCart", "Cart", new { id = Model.SingleRecipe.id } )" class="button">
				Add to shopping cart
			</a>
		}

		<!---End add to cart button--->
		<!---End Display Recipe--->

		<br>
		<!---Rating System--->
		<form id="Form1" method="post">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<style>
				.checked {
					color: orange;
				}
			</style>
			@{
				int DifficultyRate = 0;
				int TasteRate = 0;

				foreach ( Reciplease.Models.Rating r in Model.user.Ratings )
				{
					if ( r.intRecipeID == int.Parse( Model.SingleRecipe.id ) )
					{
						DifficultyRate = r.intDifficultyRating;
						TasteRate = r.intTasteRating;
					}
				}

				string[] DifficultyRates = new string[5];
				if ( DifficultyRate > 0 ) { DifficultyRates[0] = "checked"; }
				if ( DifficultyRate > 1 ) { DifficultyRates[1] = "checked"; }
				if ( DifficultyRate > 2 ) { DifficultyRates[2] = "checked"; }
				if ( DifficultyRate > 3 ) { DifficultyRates[3] = "checked"; }
				if ( DifficultyRate > 4 ) { DifficultyRates[4] = "checked"; }
				<p><b>Difficulty</b></p>
				<span id="rate1" class="fa fa-star @DifficultyRates[0] rate-star"></span>
				<span id="rate2" class="fa fa-star @DifficultyRates[1] rate-star"></span>
				<span id="rate3" class="fa fa-star @DifficultyRates[2] rate-star"></span>
				<span id="rate4" class="fa fa-star @DifficultyRates[3] rate-star"></span>
				<span id="rate5" class="fa fa-star @DifficultyRates[4] rate-star"></span>

				string[] TasteRatings = new string[5];
				if ( TasteRate > 0 ) { TasteRatings[0] = "checked"; }
				if ( TasteRate > 1 ) { TasteRatings[1] = "checked"; }
				if ( TasteRate > 2 ) { TasteRatings[2] = "checked"; }
				if ( TasteRate > 3 ) { TasteRatings[3] = "checked"; }
				if ( TasteRate > 4 ) { TasteRatings[4] = "checked"; }
				<p><b>Taste</b></p>
				<span id="rate1" class="fa fa-star @TasteRatings[0] rate-star"></span>
				<span id="rate2" class="fa fa-star @TasteRatings[1] rate-star"></span>
				<span id="rate3" class="fa fa-star @TasteRatings[2] rate-star"></span>
				<span id="rate4" class="fa fa-star @TasteRatings[3] rate-star"></span>
				<span id="rate5" class="fa fa-star @TasteRatings[4] rate-star"></span>

				<button id="rate11" onclick="rateRecipe(@Model.user.UID, @Model.SingleRecipe.id, 1, 2);" class="fa fa-star checked rate-star">test</button>
			}

		</form>
		<div id="snackbar">Some text some message..</div>

	</div>
</div>
	

<script>
	function toggle() {
		/**/
		$.ajax({
			type: "POST",
			url: '@Url.Action( "ToggleFavorite", "Home", new { id = Model.SingleRecipe.id } )',
			async: true,
			success: function (msg) {

				if (msg.responseText == 0) {
					$("#togglefavorite").prop("value", "UnFavorite");
					var x = document.getElementById("snackbar");

					// Add the "show" class to DIV
					x.className = "show";

					x.textContent = "Recipe Favorited"

					// After 3 seconds, remove the show class from DIV
					setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
				}
				else if (msg.responseText == 1) {
					$("#togglefavorite").prop("value", "Favorite");
					var x = document.getElementById("snackbar");

					// Add the "show" class to DIV
					x.className = "show";

					x.textContent = "Recipe UnFavorited"

					// After 3 seconds, remove the show class from DIV
					setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
				}

			},
			error: function () {
				alert("Error toggling the favorite. Please contact developers.")
			}
		});
	}

</script>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
