@model Reciplease.Models.HomeContent

@{
	ViewBag.Title = "Recipe";
}
<h2>@ViewBag.Title</h2>
@*<head> already on layout page
	<title>Reciplease</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>*@
<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
	<div class="recipe-card">
		<link rel="stylesheet" href="css/style2.css">

		<!--maybe use js to call this? -->
		@if ( Model.user.IsAuthenticated )
		{
			if ( Model.user.IsAFavorite( Model.SingleRecipe.id ) )
			{
				<input type="button" class="btn-dark" id="togglefavorite" onclick="toggle()" value="UnFavorite" />
			}
			else
			{
				<input type="button" class="btn-dark" id="togglefavorite" onclick="toggle()" value="Favorite" />
			}
		}
		<!---Display Recipe--->
				<article>



					<h2>@Model.SingleRecipe.title</h2>
					<img width="960" src=@Model.SingleRecipe.image alt=@Model.SingleRecipe.title />
					<p>Ready in : @Model.SingleRecipe.readyInMinutes minutes</p>
					<p>Servings : @Model.SingleRecipe.servings </p>

					<ol>
						@foreach ( String instruction in @Model.SingleRecipe.SplitInstructions( ) )
						{
							<li>@instruction</li>
						}
					</ol>
					<p>Cuisines: @String.Join( ", ", @Model.SingleRecipe.cuisines )</p>
					<p>Diets: @String.Join( ", ", @Model.SingleRecipe.diets )</p>
					<p>Dish Types: @String.Join( ", ", @Model.SingleRecipe.dishTypes )</p>
					<table>
						<tr><th>Ingredient:</th><th>Amount:</th></tr>
						@foreach ( Reciplease.Models.Ingredient ingredient in Model.SingleRecipe.GetFractionizedIngredients( ) )
						{
							<tr><td>@ingredient.name	</td><td>@ingredient.amount @ingredient.unit</td></tr>
						}
					</table>
					<table>
						<tr><th>Nutrient:</th><th>Amount:</th><th>Percent of Daily Value</th></tr>
						@foreach ( Reciplease.Models.Nutrient nutrient in Model.SingleRecipe.nutrition.nutrients )
						{
							<tr><td>@nutrient.Name</td><td>@nutrient.Amount @nutrient.Unit</td><td>@nutrient.PercentOfDailyNeeds %</td></tr>
						}
					</table>
				</article>
		<!---End Display Recipe--->

		<br>
		<!---Rating System--->
		<form id="Form1" method="post">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			.checked {
				color: orange;
			}
		</style>
		<p><b>Difficulty</b></p>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star"></span>
		<span class="fa fa-star"></span>
			
		</form>
		
		<p id="currentlyrated" style="float:left;padding-left:20px;">
   		 <%= Model.AverageRating > 0 ? "Currently rated " + Model.AverageRating.ToString("f") + " by " + Model.TotalRaters + " people" : "<span style=\"color:red\">No ratings</span>"%>
   		 </p>
		<!---- --->
		
<script type="text/javascript">
  $(function() {
    $('.star').rating('readOnly', true);
    $('#rater').hide();
    $('#rated').mouseover(function() {
      $('#rated').hide();
      $('#rater').show();
    });

    $('.auto-submit-star').rating({
      callback: function(value, link) {
        $.ajax({
          type: "POST",
          url: "/Home/RateRecipe",
          data: $("#rate").serialize(),
          dataType: "text/plain",
          success: function(response) {
            if (response != 'false') {
              var data = eval('(' + response + ')');
              alert('Your rating has been recorded');
              $('#currentlyrated').html('Currently rated ' + data.AverageRating.toFixed(2) +
                ' by ' + data.TotalRaters + ' people');
            } else {
              alert('You have already rated this article');
            }
            $('#rater').hide();
            $('#rated').show();
          },
          error: function(response) {
            alert('There was an error.');
          }
        });
      }
    });
  });
		</script>

	</div>
</div>
<div id="snackbar">Some text some message..</div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script>
	function toggle() {
		/**/
	$.ajax({
        type: "POST",
        url: '@Url.Action( "ToggleFavorite", "Home", new { id = Model.SingleRecipe.id } )',
		async: true,
        success: function (msg) {
			
			if (msg.responseText == 0) {
				$("#togglefavorite").prop("value", "UnFavorite");
				var x = document.getElementById("snackbar");

				// Add the "show" class to DIV
				x.className = "show";

				x.textContent = "Recipe Favorited"

				// After 3 seconds, remove the show class from DIV
				setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
			}
			else if (msg.responseText == 1) {
				$("#togglefavorite").prop("value", "Favorite");
				var x = document.getElementById("snackbar");

				// Add the "show" class to DIV
				x.className = "show";

				x.textContent = "Recipe UnFavorited"

				// After 3 seconds, remove the show class from DIV
				setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
			}
			
        },
        error: function () {
            alert("Error toggling the favorite. Please contact developers.")
        }
    });
	/**/

}
</script>
