@model Reciplease.Models.HomeContent

@{
	ViewBag.Title = "Search";
}

<h2>Search</h2>

<div id="user-profile-data">
	@using ( Html.BeginForm( FormMethod.Post ) )
	{
		<div class="section">
			<input type="text" id="query" name="SearchQuery" />
			<input type="submit" name="btnSubmit" value="submit"/>
		</div>
	}
					function AdvancedSearch() {
					var AS = document.getElementById("AdvancedSearch");
					AS.style.display = "block";  // <-- Set it to block
					}
			
			
			<button onclick="AdvancedSearch()">Advanced Search</button>

			<div id="AdvancedSearch" style="display:none">
				<label for="RecipeName">Recipe Title</label>
				<input type="text" name="RecipeName" value=@Model.SingleRecipe.title  />
			</div>
				<label for="readyInMinutes">Ready In Minutes:</label>
				<input type="number" name="readyInMinutes" value=@Model.SingleRecipe.readyInMinutes  />
		<br>
				<label for="servings">Servings:</label>
				<input type="number" name="servings" value=@Model.SingleRecipe.servings  />
		<br>
				<label for="diets">Diet</label>
				<input type="text" name="diets" value=@String.Join( ", ", @Model.SingleRecipe.diets) />
		<br>
				<label for="dishTypes">Dish Types</label>
				<input type="text" name="dishTypes" value=@String.Join( ", ", @Model.SingleRecipe.dishTypes)  />
		<br>
				<label for="cuisines">Cuisines</label>
				<input type="text" name="cuisines" value=@String.Join( ", ", @Model.SingleRecipe.cuisines ) />
		<br>
				<label for="ingredients">Ingredients</label>
				<input type="text" name="ingredients"  />
		<br>
				<label for="instructions">Instructions</label>
				<textArea name="instructions" rows="10" cols="50" >@Model.SingleRecipe.instructions</textArea>
			</div>

	@if ( HttpContext.Current.Request.HttpMethod == "POST" )
	{
		
			@*Iterate over recipes to display them*@
	foreach ( Reciplease.Models.Result recipe in Model.SearchResults.results )
	{	
		<div class="row">
			<div class="recipe-card">
				<aside>
					<a href="@Url.Action("Recipe", new { id = recipe.id })">
						<span class="icon icon-play">
							<img width="600" src="https://spoonacular.com/recipeImages/@recipe.image" alt=@recipe.title onerror="this.onerror = null; this.src = '/Content/images/no-photo.jpg'" ; />
						</span>
					</a>
				</aside>

				<article>
					<h2>@recipe.title</h2>
					<p>Ready In: @recipe.readyInMinutes minutes</p>
					<p>Difficulty Average: @recipe.dictRatings["AverageDifficulty"]</p>
					<p>Difficulty Count: @recipe.dictRatings["DifficultyCount"]</p>
					<p>Taste Average: @recipe.dictRatings["AverageTaste"]</p>
					<p>Taste Count: @recipe.dictRatings["TasteCount"]</p>
				</article>
			</div>
		</div>
	}


				using ( Html.BeginForm( FormMethod.Post ) )
				{


				<input type='text' hidden name="hquery" value=@Model.searchItems.query />
				<input type='text' hidden name="hintolerances" value=@Model.searchItems.intolerances />
				<input type='text' hidden name="hdiets" value=@Model.searchItems.diets />
				<input type='text' hidden name="hcuisine" value=@Model.searchItems.cuisine />
				<input type='text' hidden name="hingredients" value=@Model.searchItems.ingredients />
				<input type='text' hidden name="htype" value=@Model.searchItems.type />
				<input type='text' hidden name="hindex" value=@Model.searchItems.index />
				<input type="submit" name ="btnSubmit" value="Next Page" />

				}
				}
			</div>
